@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* Cuerpo */
body { 
	background-image: linear-gradient(#636162, #b1afaf);
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;	
}

/* Botón de contacto */
button {
    background: #d2c344;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    color: #FFD4D4;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    width: 50%;
}

/* Envoltorio del CV */
.resume_wrapper { 
	display: flex;
	background-color:#d2c344;
	padding: 10px;
	width: 800px;
	margin: 50px auto;
}

/* Envoltorio del CV y lado izquierdo*/
.resume_wrapper .left { 
	width: 35%;
	background: #26252d;
}

.resume_wrapper .left .resume_image{
	width: 100%;
}

/* imagen*/
.resume_wrapper .left .resume_image img {
	width: 50%;
	display: block;
}

img {
	width: 40%;
	border-radius: 50%;
}

.box-1 {
	position: relative;
}

.resume_wrapper .resume_title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}

.resume_wrapper .left .resume_info {
	color: #84838b;
}

.resume_wrapper .left .resume_bottom {
	padding: 20px 30px;
}

.resume_wrapper .resume_item {
	padding: 20px 0;
	border-bottom: 1px solid #0175b2;
}

.resume_wrapper .resume_item:last-child {
	border-bottom: 0;
}


.resume_wrapper .right .resume_namerole .role{
	font-size: 14px;
	text-transform: uppercase;
}

.resume_wrapper .right .resume_item .resume_title{
	color: #26252d;
}

.resume_wrapper .right .resume_data{
	display: flex;
}

.resume_wrapper .right .resume_data .year{
	padding-right: 35px;
	width: 115px;
	position: relative;
}

.resume_wrapper .right .resume_data .content{
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.resume_wrapper .right .resume_data .year:before{
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border: 1px solid #26252d;
	border-radius: 50%;
}

.resume_wrapper .right .resume_data .year:after{
	content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 90%;
    background: #0175b2;
}

.resume_wrapper .right .resume_data:last-child .year:after{
	display: none;
}

.resume_wrapper .right .resume_interests .resume_info{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.resume_wrapper .right .resume_interests .interests .int_icon{
	font-size: 38px;
	color: #0175b2;
	margin-bottom: 10px;
}

img {
	width:
	50%;
	border-radius: 50%;
}

.p1 {
	padding: 9px 10px;
	font-size: 11px;
}

.fa-phone .fa-envelope {
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}

.skill-container {
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}

.skill {
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

.i {
	width: 80%;
	background-color: white;
}

.f {
	width: 50%;
	background-color: white;
}

.p {
	width: 60%;
	background-color: white;
}
.m {
	width: 100%;
	background-color: white;
}

.w {
	width: 90%;
	background-color: white;
}

.e {
	width: 90%;
	background-color: white;
}

.pp {
	width: 85%;
	background-color: white;
}

.h-div {
	padding: 18px 10px;
}

.p4 {
	color: #ff9b00;
}
.name-div {
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.name-div .h1 {
	margin-bottom: 10px;
}

.p {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}

h2 {
	font-size: 16px;
	margin-bottom: 15px;
}

.fa-user .fa-graduation-cap {
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
.p3 {
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}

.p3 span {
	color: #ff9b00; padding-left: 20px;
}

@media screen and (max-width: 800px) {
	.main .right .resume_namerole {
		display: none;
	}

	.main .left .resume_namerole {
		display: block;
	}

	.main{
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}

	.main .left,
	.main .right{
		width: 100%;
	}
}


@media screen and (max-width: 424px) {
	.main .right {
		padding: 20px 30px;
	}

	.main .right .resume_data {
		flex-direction: column;
	}

	.main .right .resume_data {
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: #0175b2;
	}

	.main .right .resume_data,
	.main .right .resume_data {
		display: none;
	}

	.main .right .resume_data .span .p2 {
		width: 100%;
		padding: 0;
	}

	.main .right .resume_interests .interests .int_icon {
		font-size: 24px;
	}
}